{% extends 'base.html' %}
{% block content %} 
<h1>Articles Add By You</h1>
{% for article in articles %}
<br>


<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{article.title}}</h5>
    <img src="../media/{{article.thumbnail}}" alt="Thumbanail" width="500px" height="200px">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">{{article.subtitle}}</h5>
    <p class="card-text">{{article.content}}</p><br>
    <p class="card-text">Author - <b>{{article.author}}</b> </p>
   </div>
   </div>
<br />
{% endfor %}

{% endblock %}
