{% extends 'base.html' %}
{% block content %} 
{% for article in articles %}
<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{article.title}}</h5>
    <img src="../media/{{article.thumbnail}}" alt="Thumbanail" width="500px" height="200px">
    
  </div>
  <div class="card-body">
    <h5 class="card-title">{{article.subtitle}}</h5>
    <p class="card-text">{{article.content}}</p><br>
    <p class="card-text">Author - {{article.author}}</p>
   </div>
   </div>
<br />
{% endfor %}
<a href="{% url 'home' %}"><button class="btn btn-secondary">Back</button></a>

{% endblock %}
