{% extends 'base.html' %} 
{% block content %}

  {% if user.is_authenticated %}
   {% if user.is_superuser %} 
   {% if users %} 
  <div class="continer">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
             <th scope="col">is_author</th>
            <th scope="col">is_publisher</th>
          </tr>
        </thead>
        
        <tbody>
            {% for user in users %}
            {% if user.is_superuser %}
            {% else %}
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.is_author}}</td>
            <td>{{user.is_publisher}}</td>
            <td><a href="{% url 'delete_user' user.id %}"><button class="btn btn-danger">Delete</button></a></td>
          </tr>
          {% endif %}
          {% endfor %}

        </tbody>
      </table>
  </div>
  
 
   {% else %}
  <h1>No user ............</h1>
  {% endif %} 
  {%elif user.is_author%}
  <h1>All Articles</h1>
  {% for article in articles %}
<div class="card" style="width: 18rem">
 
  <div class="card-body">
   
    <img src=../media/{{article.thumbnail}} alt="Image">
    <h5 class="card-title">{{article.title}}</h5>

    <h6 class="card-subtitle mb-2 text-body-secondary">{{article.subtitle}}</h6>
    <p class="card-text">{{article.content}}</p>
    <p class="card-text">{{article.author}}</p>
    
  </div>
</div>
<br />
{% endfor %}
  {%elif user.is_publisher%}
  <h1>All Articles</h1>
  {% for article in articles %}
<div class="card" style="width: 18rem">
 
  <div class="card-body">
   
    <img src=../media/{{article.thumbnail}} alt="Image">
    <h5 class="card-title">{{article.title}}</h5>

    <h6 class="card-subtitle mb-2 text-body-secondary">{{article.subtitle}}</h6>
    <p class="card-text">{{article.content}}</p>
    <p class="card-text">{{article.author}}</p>
    <a href = '{%url "article" article.id %}'>Review</a>
  </div>
</div>
<br />
{% endfor %}
  {% endif %} 
  {% else %}
  <h1>Login</h1>
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        aria-describedby="emailHelp"
        placeholder="username"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
  {% endif %}


{% endblock %}
